@font-face{
    font-family: 'montserrat';
    src: url(../fonts/montserrat-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'montserrat';
    src: url(../fonts/montserrat-bold-webfont.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}
h1{
    font-family: 'montserrat';
    text-align: center;
    padding-top: 2%;
}
h2{
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: none;
}
li{
    font-family: 'montserrat';    
    font-size: 1rem;
    line-height: 1.6rem;
    list-style-type: none;
    text-decoration: none;
    padding-right: 2rem;
}
h2,li{
    text-align: center;
}
.imgtext{
    color: #759CFF;
    font-size: 1.5rem;
    padding-top: 2rem;
}
.link{
    display: block;
    font-family: 'montserrat';
    font-weight: bold;
    color: #759CFF;
    text-align: center;
}
.img{
    text-align: center;
}
img{
    display: inline-block;
    filter: drop-shadow(0px 0px 15px #E7E7E7);
    max-width: 425px;
    padding: 3rem;
    text-align: center;
}
@media (max-width: 500px){
    img{
       max-width: 300px;
    }}
a:hover {
    color:#A3BCFF;
   }
  
